.navContainer {
    display: flex;
    justify-content: space-between;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1; 
   
  }
  
  .navinfo {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    position: relative;
    /* right: 30px; */
    width: 70%;
  }
  

  
  