.footer-container {
    display: flex;
    justify-content: space-around;
    margin: auto;
    margin-top: 2%;
    background-color: #51b95a;
    padding: 50px;
  }
  
  .footer-logo {
    width: 30px;
    margin-left: 2%;
  }
  
  .socialmedia-app {
    display: flex;
    gap: 10px;
  }
  
  #first-col {
    margin: auto;
    text-align: start;
    font-size: medium;
    margin-top: -10px;
  }
  
  #second-col, #third-col {
    margin: auto;
    text-align: start;
    font-size: medium;
  }
  
  #third-col {
    margin-top: -10px; 
  }
  
  #second-col p,
  #third-col p,
  #third-col input {
    margin-bottom: 10px;
  }
  

  /* For screens smaller than 768px */
@media screen and (max-width: 768px) {
  .footer-container {
    flex-direction: column; /* Stack columns vertically */
    align-items: center; /* Center content */
    padding: 20px; /* Adjust padding */
  }

  .footer-logo {
    margin-left: 0; /* Remove left margin for logo */
  }

  #first-col,
  #second-col,
  #third-col {
    text-align: center; /* Center align columns */
    margin-top: 20px; /* Add margin between columns */
  }
}

/* For screens smaller than 576px */
@media screen and (max-width: 576px) {
  .footer-logo {
    display: none; /* Hide logo for very small screens */
  }

  #first-col,
  #second-col,
  #third-col {
    font-size: small; /* Reduce font size for smaller screens */
  }
}